html, body {
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main_conteiner {
    margin-top: 4rem;
    flex: 1 1 auto;
    
}

