html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    min-width: 320px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main_container {
    margin-top: 5rem;
    flex: 1 1 auto;
}

::selection {
    background-color: black;
    color: rgb(255, 255, 255);
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #000;
    padding: 5px 10px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    z-index: 1000;
    opacity: .4;
    display: none;
}

#back-to-top:hover {
    opacity: 1;
    transition: all .4s;
}