.carousel-inner .carousel-item {
    max-height: 450px;
}

.my_carousel {
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
}

.my_card {
    transition: .3s;
}

.my_card:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.item_card {
    text-decoration: none;
    color: black;
}

.pagination a{
    color: black;
}

.pagination a:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    border-color:rgb(123, 123, 123);
}

.pagination .active>.page-link {
    background-color: black;
    border-color:rgb(123, 123, 123);
}